{% extends 'base.html' %}

{% block title %}All Bookings{% endblock %}

{% block header %}All Bookings{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>All Bookings</h2>
        <div class="table-responsive">
            <table class="table table-bordered mx-auto text-center">
                <thead>
                    <tr>
                        <th>Office</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>User</th>
                        <th>Timestamp</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                        <tr>
                            <td class="align-middle">{{ booking.office }}</td>
                            <td class="align-middle">{{ booking.date.strftime('%Y-%m-%d') }}</td>
                            <td class="align-middle">{{ booking.start_time.strftime('%H:%M:%S') }}</td>
                            <td class="align-middle">{{ booking.user.username }}</td>
                            <td class="align-middle">{{ booking.timestamp.strftime('%H:%M:%S') }}</td>
                            <td class="align-middle">
                                <form method="post" action="{{ url_for('remove_booking', booking_id=booking.id) }}">
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <p><a class="btn btn-primary" href="{{ url_for('home') }}">Go back to Home</a></p>
    </div>
{% endblock %}
